@import "tailwindcss";

:root {
  --brand-charcoal: #1a1d1f;
  --brand-navy: #0a2540;
  --brand-gold: #c6a667;

  --playfair: "Playfair Display";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --inter: system-ui;
}

body {
  background-color: var(--brand-charcoal);
  color: white;
}

h1,
h2,
h3 {
  font-family: var(--playfair), serif;
}
